<style> #scrape {display: none;} </style>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/public/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Saved Articles</h1>
                        <hr class="small">
                        <span class="subheading">Your Saved Articles</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div id='savedArticleContainer' class="col-xs-12">
            </div>
        </div>
    </div>

<!-- The Modal -->
<div id="noteModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a note below</h4>
      </div>

      <div class="modal-body">
        <div class='currentNotes'>
        </div>

        <textarea class="form-control articleNoteUserInput" rows="5"></textarea><br />
        <input class="btn btn-success submitArticleNoteUserInput" value="Submit">
      </div>
  </div>

</div>    